body{
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
    margin-right: 15px;
}

.form-tag {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-red-info {
    float: left;
}

.red-info-height {
    height: 36px;
}

.user-img {
    width: 42px;
    height: 42px;
}

.view-comment-count {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.badge-background-color {
    background-color: #dd1314;
}
.profile .section{
    margin-top: 10px;
}
.tag-edit {
    color: #999999;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: none;
    cursor: pointer;
}

.tag-margin  {
    margin-right: 2px;
}
/*发布人*/
.initiator {
    margin-top: 50px;
}
.initiator-name {
    margin-left: 3px;
    margin-top: 17px;
    color: #999999;
}
.initiator-body {
    margin-top: 15px;
    margin-bottom: 5px;
}
/*下滑线*/
.underline-question {
    border: 2px solid #999999;
}
/*error*/
.error-page {
    margin-left: 35%;
    margin-top: 6%;
}

/*评论上方的头像*/
.comment-img {
    margin: 10px 0px;
}
/*回复评论上的button*/
.btn-float-right {
    float: right;
    margin: 12px 0px;
}
/*回复数显示的格式*/
.comment-span {
    margin-top: 0px;
}
/*评论距离内容的的宽度*/
.icon-margin {
    margin-top: 15px;
    color: #999999;
}
.icon-margin .icon-padding {
    margin-right: 6px;
    font-size: 15px;
}
/*鼠标悬浮*/
.icon-margin .icon-padding:hover {
    color: #499ff3;
}
/*评论之间需要距离*/
.comment-content {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}
/*每一个页面的首个标题*/
.text-title {
    font-size: 21px;
    margin-left: 3px;
}
.question-title {
    margin-top: 30px;
}