body{
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
    margin-right: 15px;
}

.form-tag {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-red-info {
    float: left;
}

.red-info-height {
    height: 36px;
}

.user-img {
    width: 42px;
    height: 42px;
}

.view-comment-count {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.badge-background-color {
    background-color: #dd1314;
}
.profile .section{
    margin-top: 10px;
}
.tag-edit {
    color: #999999;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: none;
    cursor: pointer;
}

.tag-margin  {
    margin-right: 2px;
}
/*发布人*/
.initiator {
    margin-top: 50px;
}
.initiator-name {
    margin-left: 3px;
    margin-top: 17px;
    color: #999999;
}
.initiator-body {
    margin-top: 15px;
    margin-bottom: 5px;
}
/*下滑线*/
.underline-question {
    border: 2px solid #999999;
}
/*error*/
.error-page {
    margin-left: 35%;
    margin-top: 6%;
}
