body{
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
    margin-right: 15px;
}

.form-tag {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-red-info {
    float: left;
}

.red-info-height {
    height: 36px;
}

.user-img {
    width: 42px;
    height: 42px;
}

.view-comment-count {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.badge-background-color {
    background-color: #dd1314;
    padding-bottom: 2px;
    margin-bottom: 3px;
    margin-left: 4px;
}
.profile .section{
    margin-top: 10px;
}
.tag-edit {
    color: #999999;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: none;
    cursor: pointer;
}

.tag-margin  {
    margin-right: 2px;
}
/*发布人*/
.initiator {
    margin-top: 50px;
}
.initiator-name {
    margin-left: 3px;
    margin-top: 17px;
    color: #999999;
}
.initiator-body {
    margin-top: 15px;
    margin-bottom: 5px;
}
/*下滑线*/
.underline-question {
    border: 2px solid #999999;
}
/*error*/
.error-page {
    margin-left: 35%;
    margin-top: 6%;
}

/*评论上方的头像*/
.comment-img {
    margin: 10px 0px;
}
/*回复评论上的button*/
.btn-float-right {
    float: right;
    margin: 12px 0px;
}
/*回复数显示的格式*/
.comment-span {
    margin-top: 0px;
}
/*评论距离内容的的宽度*/
.icon-margin {
    margin-top: 15px;
    color: #999999;
}
.icon-margin .icon-padding {
    margin-right: 6px;
    font-size: 15px;
}
/*展示二级目录后的标签要变为蓝色*/
.icon-margin .active{
    color: #499ff3;
}
/*鼠标悬浮*/
.icon-margin .icon-padding:hover {
    color: #499ff3;
}
/*评论之间需要距离*/
.comment-content {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}
/*每一个页面的首个标题*/
.text-title {
    font-size: 21px;
    margin-left: 3px;
}
.question-title {
    margin-top: 30px;
}
/*二级目录的边框*/
.second-border {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding-top: 15px;
    margin-bottom: 16px;
}
/*子评论的发布按钮*/
.sub-btn {
    margin: 13px 0px;
}
/*二级目录的评论时间*/
.time-comment {
    font-size: smaller;
    color: #aaa;
    margin-left: 20px;
}
/*二级评论中用户的名字*/
.comment-user-sub {
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    color: #666666;
}
/*标签的间距*/
.tag-question-margin {
    cursor: pointer;
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
    font-weight: 500;
    line-height: 14px;
    font-size: 12px;
}
/*相关问题的列表的样式*/
.question-href {
    line-height: 22px;
    font-size: 13px;
    padding-left: 0px;
    list-style: none;

}
.question-href a {
    text-decoration: none;
}

/*个人微信照片样式*/
.img-author {
    width: 50%;
    height: 204px;
}
/*publish 整个tag的样式*/
.publish-tag-content {
    display: none;
    margin-top: 12px;
}
/*tag puilsh发布分享的问题的tag距离上边框的距离*/
.tab-margin-top {
    margin-top: 5px;
    margin-left: 10px;
}