<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>发布--麻将社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/projects.css"/>
    <link rel="stylesheet" href="/css/editormd.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/projectfirstcomment.js" type="application/javascript"></script>
    <SCRIPT src="/js/bootstrap.min.js" type="application/javascript"></SCRIPT>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                <span class="text-title">发起</span>
            </h2>
            <hr/>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group form-tag">
                    <label for="title">标题:</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input type="text" name="title" id="title" class="form-control" th:value="${title}"
                               placeholder="问题标题……" autocomplete="off"
                               aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group form-tag" id="question-editor">
                    <label for="description">问题补充（必填：请参照右侧提示）</label>
                    <textarea name="description" id="description" class="form-control" th:text="${description}"
                              style="display: none"
                              placeholder="请详细描述一下您的问题……" cols="30" rows="10"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        editormd("question-editor", {
                            width  : "100%",
                            height : "400px",
                            path   : "/js/lib/",
                            /*实时生成视图*/
                            delay  :  0,
                            /*false:初始化时不展示半边的样式，点击眼睛生成相应的视图*/
                            watch  : false,
                            placeholder:"请详细描述你的问题(提交出问题代码)或者分享你的经验.....",
                            /*支持上传图片的功能*/
                            imageUpload:true,
                            imageFormats:["jpg","jpeg","gif","png","bmp","webp"],
                            /*fileController:显示文件夹选择图片获得地址*/
                            imageUploadURL:"/file/upload"

                        });
                    });
                </script>

                <!--autocomplete="off" 关闭提示以前写过的标签-->
                <div class="form-group form-tag">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" id="tag" name="tag"
                           autocomplete="off"
                           th:value="${tag}" placeholder="输入标签，以英文 , 号隔开" onclick="showSelectTag()">
                    <!--自动选择已有的标签-->
                    <!--默认不展示 display: none-->
                    <div id="select-tag" class="publish-tag-content">
                        <!--new tables-->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectTag,selectTagStatus:${tags}" th:class="${selectTagStatus.first? 'active':''}">
                                <a th:href="${'#'+selectTag.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${selectTag.categoryName}"></a>
                            </li>
                        </ul>
                        <!--tables panes-->
                        <div class="tab-content tab-margin-top">
                            <div role="tabpanel" th:id="${selectTag.categoryName}"
                                 th:each="selectTag,selectTagStatus:${tags}"
                                 th:class="${selectTagStatus.first? 'tab-pane active':'tab-pane'}">
                                <span class="label label-info tag-question-margin" th:each="tagList:${selectTag.tags}">
                                    <span class="glyphicon glyphicon-tags" onclick="selectTag(this)"
                                          th:data-tag="${tagList}">
                                       <span th:text="${tagList}"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid main">
                    <div class="row ">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger btn-red-info btn red-info-height col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                 th:text="${erro}" th:if="${erro != null}"></div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 btn-red-info">
                            <button type="submit" class="btn btn-success btn-publish">发布</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发布指南</h3>
            <p>1.问题标题：请用精简的语言描述您发布的问题，不超过25个字</p>
            <p>2.问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料；</p>
            <p>3.选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</p>
        </div>
    </div>
</div>
</body>
</html>